.room-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 4rem;
}

.chat-room-container {
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    height: calc(100vh - 7rem); /* Adjust height to take up the entire screen minus the header */
    width: calc(100% - 2rem); /* Adjust width to prevent overflow */
    padding: 1rem;
    /* margin: 2rem auto; */
    margin-top: 5rem;
    background: #d6d6d6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

.back-button {
    position: fixed;
    top: 0px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1em;
    background-color: #ff0000; /* Red color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7rem;
    min-width: 70px;
    min-height: 40px;
}

.back-button:hover {
    background-color: #cc0000; /* Darker red on hover */
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto; /* Make the messages list scrollable */
}

.message {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #e1e1e1;
    border-radius: 4px;
}

.timestamp {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 0.2rem;
}

.username {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.content {
    font-size: 1rem;
}

.send-message-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.message-input {
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.send-button {
    padding: 0.8rem 1.2rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.send-button:hover {
    background: #0056b3;
}